<!DOCTYPE html>
<html lang="en">
<head>
    <title>Membership</title>
</head>
<body>
    <h1>Become a gold member</h1>
    <form action="/membership" method="POST">
        <label for="passcode">Passcode</label>
        <input id="passcode" name="passcode" placeholder="Passcode" type="text" />
        <button>Become a gold member</button>
    </form>
    <a href="/">Back to homepage</a>
</body>
</html>