<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/sign-up" method="POST">
        <label for="fname">First name</label>
        <input id="fname" name="fname" placeholder="Aigul" type="text" />
        <label for="lname">Last name</label>
        <input id="lname" name="lname" placeholder="Akhmet" type="text" />
        <label for="email">Email</label>
        <input id="email" name="email" placeholder="aigul@someemail.com" type="email" />
        <label for="password">Password</label>
        <input id="password" name="password" placeholder="Password" type="password" />
        <label for="cpassword">Confirm password</label>
        <input id="cpassword" name="cpassword" placeholder="Confirm password" type="password" />
        <button>Sign Up</button>
    </form>
</body>
</html>